.modal-board {
  z-index: 1;
  width: 90px;
  height: 90px;
  margin: 10px;
  background: rgb(130, 182, 243);
  border: 1px solid #999;
  float: left;
  font-size: 90px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  line-height: 90px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-info {
  margin-left: 20px;
}
